div#login
  display: flex
  justify-content: center
  height: 100%
  align-items: center

  > div
    max-width: 748px
    width: 60%
    display: flex
    flex-direction: column
    align-items: center

    form
      height: 400px
      display: flex
      flex-direction: column
      justify-content: center

      > *
        padding-left: 44px
        padding-right: 44px

      > label
        width: 100%
        display: flex
        justify-content: flex-start

        font-family: Merriweather
        font-style: normal
        font-weight: bold
        line-height: normal
        font-size: 32px

        color: $primary

        margin-bottom: 28px

      div.card
        background-color: $white
        padding-top: 48px
        padding-bottom: 48px
