div#login
  > div
    max-width: 748px
    width: 60%

    form
      height: 60%
      min-height: 400px

      > .card
        > .card-right
          /* Placeholder for future illustration */
          background: linear-gradient(180deg, #2C31AE 0%, #21258A 100%)
