.radio-button
  @extend .user-select-none

  &:hover input:enabled ~ .radio-img
    background-image: url('../assets/radio/hover.svg')

  input[type="radio"]
    position: absolute
    opacity: 0

    &:checked ~ .radio-img
      background-image: url('../assets/radio/selected.svg')
      &:after
        display: block

    &:disabled
      @extend .unclickable
      &~ .radio-img
        @extend .unclickable, .opaque-semi
        &~ .label-text
          @extend .unclickable, .opaque-semi

  .radio-img
    background-image: url('../assets/radio/unselected.svg')

    &:after
      content: ""
      position: absolute
      display: none
  
  .label-text
    white-space: nowrap
