button.secondary
  background: $gradient-secondary
  border: 1px solid $secondary
  color: $secondary

  border-radius: 4px
  min-width: 80px
  height: 40px

  padding-left: 16px
  padding-right: 16px

  &:hover
    border: 1px solid $secondary-highlight
    color: $secondary-highlight
