@import ../index
  
button.secondary
  background: linear-gradient(180deg, #FFFFFF 0%, #EDFFFC 100%)
  border: 1px solid #00BCBC
  color: #00BCBC

button.secondary:hover
  border: 1px solid #00D5D5
  color: #00D5D5

button.secondary:focus
  /* Link text/Hover */
  border: 1px solid #00D5D5
  color: #00D5D5
