.applicant-list
  min-height: 100%
  overflow-y: scroll
  .applicant
    padding-top: 10px
    height: 56px
    &:hover
      cursor: pointer
      background-color: $admin-hover-bg
    .right
      padding-right: 10px
      margin-left: auto
      margin-top: 0
      .order
        float: right
      .score
        opacity: 0.3
        &.exists
          opacity: 1
          color: $admin-highlight
    .name
      font-size: 16px
      color: $charcoal
    .email
      font-size: 16px
      color: $light-grey
    &.selected
      background-color: $admin-selected-bg
      .name, .email
        color: $admin-highlight
      .score
        &.exists
          opacity: 1
          color: $admin-highlight
  