@import ./PrimaryButton/PrimaryButton
@import ./SecondaryButton/SecondaryButton

button
  cursor: pointer

  /* box */
  border-radius: 4px
  box-sizing: border-box
  min-width: 80px
  height: 40px

  /* content */
  padding-left: 16px
  padding-right: 16px
  font-family: Apercu Pro
  font-weight: bold
  line-height: normal
  font-size: 18px
  text-align: center

button:hover
  box-shadow: 0px 4px 6px rgba(0, 82, 174, 0.15)

button:focus
  outline: none
