.shadow
  box-shadow: 0px 4px 6px $shadow

.card
  @extend .shadow
  border-radius: 4px
  background-color: $white
  overflow: hidden

.clickable
  cursor: pointer

.unclickable
  cursor: not-allowed

.opaque
  &-semi
    opacity: 0.4
