$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;

// for extra large spaces...
$spacing-mega: 56px;
$spacing-giga: 64px;

// Misc
$navbar: $spacing-giga
