/////////////////////////
// SPACING DEFINITIONS //
/////////////////////////

$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;
$spacing-mega: 56px;
$spacing-giga: 64px;
$navbar: $spacing-giga

/////////////////////////
//   SPACING CLASSES   //
/////////////////////////

.pad
  // navbar
  &-nav
    padding-top: $navbar

  // sides
  &-left, &-sides
    &-xxl
      padding-left: $spacing-xxl
  &-right, &-sides
    &-xxl
      padding-right: $spacing-xxl

  // ends
  &-top, &-ends
    &-xxl
      padding-top: $spacing-xxl
    &-mega
      padding-top: $spacing-mega
  &-bottom, &-ends
    &-xxl
      padding-bottom: $spacing-xxl
    &-mega
      padding-bottom: $spacing-mega

.margin
  &-left, &-sides
    &-xs
      margin-left: $spacing-xs
    &-s
      margin-left: $spacing-s
    &-m
      margin-left: $spacing-m
    &-l
      margin-left: $spacing-l
  &-right, &-sides
    &-xs
      margin-right: $spacing-xs
    &-s
      margin-right: $spacing-s
    &-m
      margin-right: $spacing-m
    &-l
      margin-right: $spacing-l
  &-top, &-ends
    &-xs
      margin-top: $spacing-xs
    &-s
      margin-top: $spacing-s
    &-m
<<<<<<< HEAD
      margin-top: $spacing-m
    &-l
      margin-top: $spacing-l
  &-bottom, &-ends
    &-xs
      margin-bottom: $spacing-xs
    &-s
      margin-bottom: $spacing-s
    &-m
      margin-bottom: $spacing-m
    &-l
      margin-bottom: $spacing-l
    
=======
      padding-right: $spacing-s
    &-l
      padding-right: $spacing-l

>>>>>>> 34b6748... Tweak navbar styles and animations
  // repeating vertical elements
  &-vertical
    &-text-inputs
      > .text-input
        &:first-of-type
          margin-bottom: $spacing-xl
        &:last-of-type
          margin-bottom: $spacing-mega

  // repeating horizontal elements
  &-horizontal
    &-divs
      > div
        &:first-of-type
          margin-left: $spacing-m
        &:last-of-type
          margin-right: $spacing-m
