@font-face
  font-family: 'Apercu Pro'
  font-weight: bold
  font-style: normal
  src: url(./fonts/apercu_bold_pro.otf) format('opentype')

@font-face
  font-family: 'Apercu Pro'
  font-weight: medium
  font-style: normal
  src: url(./fonts/apercu_medium_pro.otf) format('opentype')

@font-face
  font-family: 'Apercu Pro'
  font-weight: normal
  font-style: normal
  src: url(./fonts/apercu_regular_pro.otf) format('opentype')

a
  &:visited
    color: $primary

  &:hover
    color: $secondary-highlight

p
  font-size: 14px
  font-family: Apercu Pro
  color: $primary
  margin-top: 10px

h1, h2, h3, h4, h5, h6
  font-family: Merriweather
  font-style: normal
  font-weight: bold
  line-height: normal
  color: $primary

h1
  font-size: 32px

h2
  font-size: 32px
  padding-left: 44px
  padding-right: 44px
  margin-bottom: 28px

h5
  font-size: 18px

label
  font-family: Apercu Pro
  font-size: 18px
  font-weight: bold
  line-height: normal
  color: $primary
