.fill
  &-width
    width: 100%

  &-height
    height: 100%

.split
  > *
    width: 50%

// padding declarations
.pad
  &-nav
    padding-top: 64px

  &-sides
    padding-left: 44px
    padding-right: 44px

  &-ends
    padding-top: 48px
    padding-bottom: 48px

// margin declarations
.margin
  &-sides
    margin-left: 24px
    margin-right: 24px
    &-large
      margin-left: 36px
      margin-right: 36px

  &-ends
    margin-top: 12px
    margin-bottom: 12px

  &-text-inputs
    > .text-input
      &:first-of-type
        margin-bottom: 40px
      &:last-of-type
        margin-bottom: 56px

  &-horizontal
    &-divs
      > div
        &:first-of-type
          margin-left: 24px
        &:last-of-type
          margin-right: 24px

// flexbox utility classes
.flex
  display: flex

  &-inline
    display: inline-flex

  // flex-directions
  &.dir
    &-col
      flex-direction: column

  // justify-content
  &.jc
    &-start
      justify-content: flex-start

    &-end
      justify-content: flex-end

    &-center
      justify-content: center

    &-around
      justify-content: space-around

    &-between
      justify-content: space-between
      &-right-if-one
        :only-child
          align-self: flex-end
          margin-left: auto

  // flex-wrap
  &.wrap
    flex-wrap: wrap

  // align-items
  &.ai
    &-center
      align-items: center
