.short-field
  padding-bottom: 10px
  padding-top: 10px
.short-label
  width: 208px
  height: 20px
  font-family: Fakt Pro, serif
  line-height: normal
  font-size: 16px
  color: #828282
  padding-bottom: 25px
.short-value
  width: 90%
  height: 40px
  font-family: Fakt Pro, serif
  line-height: normal
  vertical-align: middle
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 10px
  font-size: 16px
  color: #4F4F4F
  background: #F4F4F4