button.primary
  background: $gradient-primary
  border: none
  color: $white

  &:hover
    background: $gradient-primary-highlight

  &.disabled
    pointer-events: none
    background: $gradient-primary-subdued
    opacity: 0.4
