.toolbar
  padding: 12px 0px 12px $spacing-s
  .body-text
    display: inline
    padding-right: $spacing-s
  .select-input
    width: 247px
    .react-select-container
      display: inline-block
      padding-top: 0px
      width: 178px
      .react-select__control
        height: 48px
