.homepage
  background: $gradient-purple

  &-email-registration
    @media screen and (max-width: $mobile-s)
      flex-direction: column !important
      > button.primary
        width: 100%

    > .text-input
      width: 100%
      max-width: 300px

  &-skyline
    margin-bottom: -$spacing-tera
    @media screen and (max-width: $desktop)
      margin-bottom: $spacing-s

  &-scale-top
    @media screen and (max-width: $tablet)
      padding-top: $spacing-tera !important

  p
    max-width: 38.889em

  .row-stories
    > div
      width: 30%
      .overlay
        top: 0
        left: 0
        position: absolute
        padding-left: 16px
        padding-top: 16px

      .hover-description
        background: $gradient-secondary

