.checkbox
  margin-left: 20px;
  font-family: Apercu Pro;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  color: $primary;
  position: relative;
  padding-left: 34px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover input ~ .checkmark
    background-image: url('../assets/checkbox/hover.svg');

  input[type="checkbox"]
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark
      background-image: url('../assets/checkbox/checked.svg')
      &:after
        display: block;

  .checkmark
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-image: url('../assets/checkbox/unchecked.svg')

    &:after
      content: "";
      position: absolute;
      display: none;