nav
  display: flex
  background: #FFFFFF
  box-shadow: 0px 4px 6px rgba(0, 82, 174, 0.15)
  height: 64px

  > div
    display: inline-flex
  > div:last-of-type
    width: 80%
    justify-content: flex-end
  > div:first-of-type
    width: 20%
    justify-content: flex-start
  > div > div
    display: flex
    margin-top: 12px
    margin-bottom: 12px
    align-items: center
    margin-right: 7.5%
  > div > div:first-of-type
    margin-left: 24px
  > div > div:last-of-type
    margin-right: 24px
  a
    display: flex
    align-items: center
    text-decoration: none
    font-family: Apercu Pro
    font-size: 18px
  a:hover
    color: #00D5D5
  img
    width: 32px
