nav
  > div
    display: inline-flex
  > div:last-of-type
    width: 80%
    justify-content: flex-end
  > div:first-of-type
    width: 20%
    justify-content: flex-start
  > div
    > div
      padding: 16px
